Source: ghcjs
Priority: optional
Section: devel
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: happy, alex, cabal-install, git, ghc (>= 7.10.2), nodejs, autoconf,
               libghc-shelly-dev, libghc-regex-tdfa-dev, libghc-text-dev

Package: ghcjs
Architecture: any
Section: devel
Depends: ghc (>= 7.10.2), nodejs (>= 0.10.24)
Provides: ${haskell:Provides}, ghcjs-tools
Conflicts: ghcjs-tools
Replaces: ghcjs-tools
Description: GHCJS runtime system
 Runtime system for GHCJS Haskell to JavaScript compiler
 .
  Author: Victor Nazarov, Hamish Mackenzie, Luite Stegeman
  Upstream-Maintainer: Luite Stegeman
