#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
# include /usr/share/cdbs/1/class/hlibrary.mk

configure/ghcjs::
	echo "interest /usr/lib/ghcjs/.ghcjs/$(shell ghc -e 'putStr System.Info.arch')-$(shell ghc -e 'putStr System.Info.os')-$(shell ghcjs --numeric-version)-$(shell ghcjs --numeric-ghc-version)/ghcjs/package.conf.d" > debian/ghcjs.triggers

build/ghcjs:: debian/ghcjs-build-stamp

debian/ghcjs-build-stamp:
	. debian/boot
	touch $@

install/ghcjs:: debian/ghcjs-binary-stamp

debian/ghcjs-binary-stamp:
	runhaskell -idebian debian/Provides.hs
	touch $@

clean::
	rm -rf usr ghcjs debian/ghcjs-build-stamp debian/ghcjs-binary-stamp debian/ghcjs.install debian/ghcjs.substvars.tmp
