#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
# include /usr/share/cdbs/1/class/hlibrary.mk

build/ghcjs:: debian/ghcjs-build-stamp

debian/ghcjs-build-stamp:
	runhaskell debian/Setup.hs
	touch $@

clean::
	rm -rf usr debian/ghcjs-build-stamp debian/ghcjs.install debian/ghcjs.substvars.tmp
