#!/usr/bin/make -f

# It would be nice to build ghcjs inside our current directory,
# but the path gets recorded in the result.  Try it.
# TOP := $(PWD)
TOP := /
HOMEREL := usr/lib/ghcjs
HOME := $(TOP)$(HOMEREL)
PATH := $(HOME)/.cabal/bin:$(PATH)
DEB_DH_SHLIBDEPS_ARGS += -X$(HOMEREL)/.ghcjs -XlibHS
CABAL := cabal-1.22

include /usr/share/cdbs/1/rules/debhelper.mk
# include /usr/share/cdbs/1/class/hlibrary.mk

build/ghcjs:: debian/ghcjs-build-stamp

# The result of this build is in /usr/lib/ghcjs.
debian/ghcjs-build-stamp:
	mkdir -p $(HOME)/.cabal/logs
	mkdir -p /usr/share/haddock-api  # Prevent "Haddock's resource directory (/usr/share/haddock-api) does not exist!" error
	rsync -aHxS --delete /opt/ghc/7.10.3/lib/ghc-7.10.3/html/ /usr/share/haddock-api/html
	-apt-get remove ghcjs --force-yes
	$(CABAL) update
	-rm -r ghcjs
	git clone https://github.com/ghcjs/ghcjs ghcjs
	cd ghcjs && patch -p1 < ../ghcjs.diff
	# cabal install ghcjs/lib/ghcjs-prim
	cd ghcjs && $(CABAL) --extra-prog-path=/opt/ghc/bin --extra-prog-path=/opt/ghc/7.10.3/bin --with-happy=/opt/happy/1.19.5/bin/happy install --dependencies-only --constraint='base==4.8.2.0' --constraint='Cabal==1.22.5.0'
	cd ghcjs && $(CABAL) --extra-prog-path=/opt/ghc/bin --extra-prog-path=/opt/ghc/7.10.3/bin --with-happy=/opt/happy/1.19.5/bin/happy configure
	cd ghcjs && $(CABAL) --with-happy=/opt/happy/1.19.5/bin/happy build
	$(CABAL) --extra-prog-path=/opt/ghc/bin --extra-prog-path=/opt/ghc/7.10.3/bin --with-happy=/opt/happy/1.19.5/bin/happy install ./ghcjs
	# Now ghcjs exists and should be in the path, we can ask its version
	PATH=/opt/alex/3.1.7/bin:/opt/happy/1.19.5/bin:/opt/ghc/7.10.3/bin:$(PATH) ghcjs-boot --with-ghc /opt/ghc/7.10.3/bin/ghc --with-ghc-pkg /opt/ghc/7.10.3/bin/ghc-pkg --with-cabal $(CABAL) --dev
	touch $@

install/ghcjs:: debian/ghcjs-binary-stamp

debian/ghcjs-binary-stamp:
	$(CABAL) --extra-prog-path=/opt/ghc/bin --extra-prog-path=/opt/ghc/7.10.3/bin --with-happy=/opt/happy/1.19.5/bin/happy install regex-tdfa ListLike
	/opt/ghc/7.10.3/bin/runhaskell -idebian debian/Provides.hs $(TOP) $(HOMEREL)
	touch $@

clean::
	rm -rf $(TOP)$(HOMEREL) usr ghcjs debian/ghcjs-build-stamp debian/ghcjs-binary-stamp debian/ghcjs.install debian/ghcjs.links debian/ghcjs.substvars debian/ghcjs.triggers
